<!DOCTYPE html>
<html>
	<head>
		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<!-- Latest compiled and minified JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/9.7.0/css/bootstrap-slider.min.css">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/9.7.0/bootstrap-slider.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
	    
        {% load staticfiles %}
		<link rel="stylesheet" href="{% static 'style.css' %}" type="text/css">
        <link rel="stylesheet" href="{% static 'codemirror-5.23.0/lib/codemirror.css' %}">
		<script src="{% static 'codemirror-5.23.0/lib/codemirror.js' %}"></script>
		<script src="{% static 'codemirror-5.23.0/mode/clike/clike.js' %}"></script>
		<script src="{% static 'codemirror-5.23.0/addon/edit/matchbrackets.js' %}"></script>
		<script src="{% static 'codemirror-5.23.0/addon/edit/closebrackets.js' %}"></script>
		
		<script type="text/javascript" src="{% static 'angular-input-stars.js' %}"></script>
		<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
		<link rel="stylesheet" href="{% static 'angular-input-stars.css' %}">
		<script src="{% static 'codemirror-5.23.0/ui-codemirror.js' %}"></script>
		<base href="/" /> 
	</head>
	<body ng-app="codereco">
		
        <div class="navbar navbar-default">
            <div class="navbar-header">
                <a class="navbar-brand" href="/"> Codereco </a>
            </div>
            <ul class="nav navbar-nav">
                <li id="q1_link"><a href="study/q1" target="_blank">Question 1</a></li>
                <li id="q2_link"><a href="study/q2" target="_blank">Question 2</a></li>
                <li id="faq_link"><a href="study/faq" target="_blank">Help FAQ</a></li>
            </ul>
            <ul class="nav navbar-right">
                <li><a href='../logout'>Logout</a>
            </ul>
        </div>
		<div class="container">
			{% block content %}
        	{% endblock %}
		</div>
	</body>
</html>
