<!DOCTYPE html>
<html ng-app="similarityApp">
	<meta charset="UTF-8">
	<head>
		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<!-- Latest compiled and minified JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

		<link rel="stylesheet" href="static/style.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/9.7.0/css/bootstrap-slider.min.css">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/9.7.0/bootstrap-slider.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
		
		<link rel="stylesheet" href="static/codemirror-5.23.0/lib/codemirror.css">
		<script src="static/codemirror-5.23.0/lib/codemirror.js"></script>
		<script src="static/codemirror-5.23.0/mode/clike/clike.js"></script>
		<script src="static/codemirror-5.23.0/addon/edit/matchbrackets.js"></script>
		<script src="static/codemirror-5.23.0/addon/edit/closebrackets.js"></script>
		
		<script src="static/codemirror-5.23.0/ui-codemirror.js"></script>

	</head>
	<body>
		<script type="text/javascript" src="static/code.js"></script>
 		<div ng-controller="AppController as ctrl">
			<div class="col-md-4">
                <h3>Java Method</h3>
                <form>
					<div ng-keypress="keySend($event)" class="form-group">
						<label for="method_text"> Code </label>
						<!-- <textarea rows="20" class="form-control" id="method_text" required></textarea> -->
						<ui-codemirror ng-enter="postRequests()" class="panel" id="method_text" ng-model="methodText" ui-codemirror-opts="editorOptions"></ui-codemirror>
					</div>
					<div class="form-group">
						<button type="button" ng-click="postRequests()" id="Submit" class="btn btn-primary">Submit</button>
					</div>
					<div class="form-group">
						<label for="ratio"> Semantic Weight </label><br>
						<input id="ratio" data-slider-id='ratioSlider' type="text" data-provide="slider" data-slider-min="0" 
							data-slider-max="1" data-slider-step="0.05" data-slider-value="0.3" ng-model="ratio">
					</div>
				</form>
			</div>
			<div class="col-md-4">
                <h3> Proposed </h3>
                <div id="proposed_recos">
                    <ol> 
                        <li ng-repeat="reco in proposedRecos" ng-class="dummy">
							<div >
								<pre data-toggle="tooltip" title="{{ '{{reco.match}}' }} ">{{ '{{reco.code.raw_text}}' }}</pre>
							</div>
                        </li>
                    </ol>
                </div>
			</div>
			<!--<div class="col-md-3">
                <h3> Syntax (Structural) </h3>
                <div id="proposed_recos">
                    <ol> 
                        <li ng-repeat="reco in jaccardRecos">
							<div class="container">
								<pre data-toggle="tooltip" title="{{ '{{reco.match}}' }} ">{{ '{{reco.code.raw_text}}' }}</pre>
							</div>
                        </li>
                    </ol>
                </div>
            </div> -->
			<div class="col-md-4">
                <h3> Text </h3>
                <div id="text_recos">
                    <ol> 
                        <li ng-repeat="reco in textRecos" ng-class="dummy">
							<div>
								<pre data-toggle="tooltip" title="{{ '{{reco.match}}' }} ">{{ '{{reco.code.raw_text}}' }}</pre>
							</div>
                        </li>
                    </ol>
                </div>
			</div>
		</div>
	</body>
</html>
