{% extends 'base.html' %}
{% block content %}

    <script type="text/javascript" src="static/code.js"></script>
<!-- <div ng-controller="AppController as ctrl" class="container">-->
<div class="row" >
    <h3>{{ question }}</h3>
</div>
<div class="row" ng-controller="AppController as ctrl" >
    <div class="col-md-6" >
        <h3>Java Method</h3>
        <form>
            {% csrf_token %}
            <div ng-keypress="keySend($event)" class="form-group form-group-lg" id="codeArea">
                <label for="method_text"> Code </label>
                <!-- <textarea rows="20" class="form-control" id="method_text" required></textarea> -->
                <ui-codemirror ng-enter="postRequests()" class="panel" id="method_text" ng-model="methodText" ui-codemirror-opts="editorOptions"></ui-codemirror>
            </div>
            <div class="form-group">
                <button type="button" ng-click="postRequests()" id="Submit" class="btn btn-primary">Submit</button>
            </div>
            <div class="form-group">
                <label for="signature"> Signature Weight </label><br>
                <input type="number" id="signature" data-slider-id='signatureSlider' type="text" data-provide="slider" data-slider-min="0"
                    data-slider-max="5" data-slider-step="0.5" data-slider-value="1" ng-model="weights['signature']" ng-change="postSimRequest(weights)">
            </div>
            <div class="form-group">
                <label for="structure"> Structure Weight </label><br>
                <input type="number" id="structure" data-slider-id='structureSlider' type="text" data-provide="slider" data-slider-min="0"
                    data-slider-max="5" data-slider-step="0.5" data-slider-value="1" ng-model="weights['structure']" ng-change="postSimRequest(weights)">
            </div>
            <div class="form-group">
                <label for="concepts"> Concepts Weight </label><br>
                <input type="number" id="concepts" data-slider-id='conceptsSlider' type="text" data-provide="slider" data-slider-min="0"
                    data-slider-max="5" data-slider-step="0.5" data-slider-value="1" ng-model="weights['concepts']" ng-change="postSimRequest(weights)">
            </div>
            <div class="form-group">
                <label for="language"> Language Weight </label><br>
                <input type="number" id="language" data-slider-id='languageSlider' type="text" data-provide="slider" data-slider-min="0"
                    data-slider-max="5" data-slider-step="0.5" data-slider-value="1" ng-model="weights['language']" ng-change="postSimRequest(weights)">
            </div>
        </form>
    </div>
    {% verbatim %}
    <div class="col-md-6">
        <h3> Recommendations </h3>
        <div id="proposed_recos">
            <ul> 
                <li ng-repeat="reco in mixRecos" ng-class="dummy">
                    <div>
                        <pre data-toggle="tooltip"> {{ reco.text }}</pre>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    {% endverbatim %}
</div>
{% endblock %}
